[Unit]
Description=A script where if you type 'p' for a specified number of time, it shuts off the computer

[Service]

WorkingDirectory=/opt/ShutdownScript
ExecStart=/bin/python3 shutdown.py
Restart=always

[Install]
WantedBy=multi-user.target